.show-select {
  display: block;
}
.hide-select {
  display: none;
}
.icon-right {
  right: 64px;
}
#index .is-sidebar-on-index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bookmakers .is-sidebar-on-bookmakers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bookmakers-best .is-sidebar-on-bookmakers-best {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bookmakers-public .is-sidebar-on-bookmakers-public {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bookmakers-single .is-sidebar-on-bookmakers-single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#forecasts .is-sidebar-on-forecasts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#forecasts-tags .is-sidebar-on-forecasts-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#experts .is-sidebar-on-experts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#expert-detail .is-sidebar-on-expert-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#forecast-single .is-sidebar-on-forecast-single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#bonuses .is-sidebar-on-bonuses {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#search .is-sidebar-on-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#knowledgebase .is-sidebar-on-knowledgebase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#knowledgesingle .is-sidebar-on-knowledgesingle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
