.sidebar {
  position: fixed;
  left: 0;
  top: 130px;
  width: 220px;
  z-index: 2;
  height: -webkit-calc(100% - 130px);
  height: calc(100% - 130px);
  background-color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 53px;
  -webkit-box-shadow: 0px 10px 30px rgba(113,71,133,0.1);
          box-shadow: 0px 10px 30px rgba(113,71,133,0.1);
}
.open .sidebar__container {
  height: auto;
  overflow: visible;
}
.sidebar__container {
  overflow: hidden;
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
}
.sidebar__container-match {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}
.sidebar__container-match-title {
  font-family: $Bold;
  line-height: 14px;
  font-size: 0.75rem;
  color: $black;
  margin-bottom: 5px;
}
.sidebar__container-match-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__container-match-link i {
  font-size: 12px;
  color: $purple;
}
.sidebar__container-match-link span:nth-child(2) {
  font-size: 0.75rem;
  font-family: $Light;
  line-height: 14px;
  margin-left: 3px;
}
.sidebar__container-match-link span:nth-child(3) {
  margin-left: 3px;
  font-size: 0.75rem;
  font-family: $Bold;
  line-height: 14px;
}
.sidebar__container-match-item {
  height: 70px;
  padding: 10px;
  margin-bottom: 12px;
}
.sidebar__container-match-item:nth-child(1) {
  border: 1px solid #f6f6f6;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
.sidebar__container-match-item:nth-child(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: $Bold;
  font-size: 0.625rem;
  line-height: 11px;
  color: $sidebarbg;
  text-transform: uppercase;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}
.sidebar__container-match-item:nth-child(3) {
  border: 1px solid #f6f6f6;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}
.sidebar__container-match-item-image {
  height: 100%;
}
.sidebar__container-bookmaker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
}
.sidebar__container-bookmaker:last-child {
  border-bottom: none;
}
.sidebar__container-bookmaker-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__container-bookmaker-item:nth-child(1) {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__container-bookmaker-item:nth-child(2) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
}
.sidebar__container-bookmaker-item-prize {
  height: 50px;
  width: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__container-bookmaker-item-prize-bg {
  background-color: $purple;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 0;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidebar__container-bookmaker-item-prize span {
  z-index: 3;
  position: relative;
  color: $white;
  font-size: 0.625rem;
  line-height: 10px;
  font-family: $Regular;
}
.sidebar__container-bookmaker-item-prize span:nth-child(3) {
  margin: 2px 0;
  color: $yellow;
  font-family: $Bold;
  font-size: 0.75rem;
  line-height: 14px;
}
.sidebar__container-bookmaker-item-title {
  font-size: 0.625rem;
  font-family: $Bold;
  color: $black;
  line-height: 10px;
}
.sidebar__container-bookmaker-item-link-content {
  text-transform: uppercase;
  display: inline-block;
  color: $purple;
  grid-column: 2/3;
  font-size: 0.625rem;
  padding-bottom: 2px;
  line-height: 10px;
  font-family: $Regular;
  border-bottom: 0.5px dashed rgba(84,53,124,0.2);
}
.sidebar__container-bookmaker-item-link-content span {
  margin-left: 3px;
}
.sidebar__container-filter {
  padding: 20px;
  position: relative;
}
.sidebar__container-filter:nth-child(1),
.sidebar__container-filter:nth-child(2) {
  border-bottom: 1px solid #f1f1f1;
}
.sidebar__container-filter-title {
  text-transform: uppercase;
  font-family: $Bold;
  font-size: 0.5rem;
  line-height: 11px;
  margin-bottom: 17px;
  color: $sidebarlink;
}
.sidebar__container-filter-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar__container-filter-selector-select {
  position: relative;
  border: 1px solid $purple;
  padding: 7px 11px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  cursor: pointer;
  font-family: $Regular;
  font-size: 0.625rem;
  line-height: 12px;
  color: $purple;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}
.sidebar__container-filter-selector-select-arrow {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 26px 26px 0;
          border-radius: 0 26px 26px 0;
  background: $buttongradient;
  height: 28px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar__container-filter-selector-select-arrow i {
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 7px;
  color: $white;
}
.sidebar__container-filter-filters {
  background-color: $white;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 10px;
  width: 180px;
  padding: 20px;
  z-index: 2;
  position: fixed;
  display: none;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
}
.sidebar__container-filter-filters__option {
  font-family: $SemiBold;
  font-size: 0.625rem;
  cursor: pointer;
  line-height: 13px;
  margin-bottom: 10px;
  color: $black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__container-filter-filters__option:last-child {
  margin-bottom: 0;
}
.sidebar__container-filter-filters__option:hover {
  color: #949494;
}
.sidebar__container-bonuses {
  padding: 20px;
  position: relative;
}
.sidebar__container-bonuses:nth-child(1),
.sidebar__container-bonuses:nth-child(2) {
  border-bottom: 1px solid #f1f1f1;
}
.sidebar__container-bonuses-title {
  text-transform: uppercase;
  font-family: $Bold;
  font-size: 0.5rem;
  line-height: 11px;
  margin-bottom: 17px;
  color: $sidebarlink;
}
.sidebar__container-bonuses-cats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__container-bonuses-cats-cat {
  font-family: $Regular;
  font-size: 0.675rem;
  margin: 0 2px;
  line-height: 12px;
  color: $purple;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid $purple;
  padding: 7px 5px;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__container-bonuses-cats-cat:hover {
  background-color: $purple;
  color: $white;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
}
.sidebar__container-bonuses-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sidebar__container-bonuses-selector-select {
  position: relative;
  border: 1px solid $purple;
  padding: 7px 11px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  cursor: pointer;
  font-family: $Regular;
  font-size: 0.625rem;
  line-height: 12px;
  color: $purple;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}
.sidebar__container-bonuses-selector-select-arrow {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 26px 26px 0;
          border-radius: 0 26px 26px 0;
  background: $buttongradient;
  height: 28px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar__container-bonuses-selector-select-arrow i {
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 7px;
  color: $white;
}
.sidebar__container-bonuses-filters {
  background-color: $white;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 10px;
  width: 180px;
  padding: 20px;
  z-index: 2;
  position: fixed;
  display: none;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
}
.sidebar__container-bonuses-filters__option {
  font-family: $SemiBold;
  font-size: 0.625rem;
  cursor: pointer;
  line-height: 13px;
  margin-bottom: 10px;
  color: $black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__container-bonuses-filters__option:last-child {
  margin-bottom: 0;
}
.sidebar__container-bonuses-filters__option:hover {
  color: #949494;
}
.sidebar__container .mCSB_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__container-link {
  text-transform: 0.3s;
  font-family: $Bold;
  line-height: 13px;
  font-size: 0.75rem;
  padding: 15px 20px;
  border-bottom: 2px solid $sidebarlinkborder;
  color: $sidebarlink;
  border-left: 3px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__container-link:hover {
  color: $sidebarbottomlink;
  border-left-color: $sidebarbottomlink;
}
.sidebar__container-link-sublink {
  text-transform: uppercase;
  display: block;
  padding-left: 12px;
  border-left: 3px solid transparent;
  font-size: 0.625rem;
  line-height: 11px;
  color: $sidebarlink;
  font-family: $Bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 15px;
}
.sidebar__container-link-sublink:hover {
  border-color: $purple;
  color: $purple;
}
.sidebar__block.open .sidebar__block-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sidebar__block {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  position: relative;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  cursor: pointer;
  max-height: 53px;
  background-color: $sidebarbg;
}
.sidebar__block-yellow {
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $yellow;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__block-yellow:hover {
  background-color: $white;
}
.sidebar__block-yellow .sidebar__block-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  height: 18px;
}
.sidebar__block-yellow .sidebar__block-text i {
  color: $black;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar__block-yellow .sidebar__block-text span {
  color: $black;
}
.sidebar__block-link {
  color: #54357c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px dashed rgba(84,53,124,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 3;
  padding-bottom: 3px;
}
.sidebar__block-link i {
  font-size: 0.75rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__block-link-text {
  margin-left: 5px;
  font-family: $Regular;
  color: #54357c;
  line-height: 13px;
  font-size: 0.625rem;
  text-transform: uppercase;
}
.sidebar__block-link:hover {
  border-color: #54357c;
}
.sidebar__block-text {
  font-family: $Bold;
  font-size: 0.625rem;
  line-height: 11px;
  text-transform: uppercase;
  color: $white;
}
.sidebar__block-arrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar__block-arrow i {
  color: $sidebararrow;
}
.sidebar__block:last-child {
  position: absolute;
  bottom: 0;
  max-height: 53px;
  background: none;
  width: 220px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9f9;
}
.sidebar__block-bg {
  position: absolute;
  height: 53px;
  left: 0;
}
.rotated-filter-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.show-select {
  display: block;
}
@media (max-height: 800px) {
  .sidebar__container {
    overflow-y: auto;
  }
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
