.bonuses {
  margin-top: 30px;
}
.bonuses__filter {
  display: none;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #eee;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bonuses__filter-titles {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}
.bonuses__filter-titles-title {
  font-family: $Bold;
  line-height: 24px;
  font-size: 1.125rem;
  color: $sidebarbg;
}
.bonuses__filter-titles-arrow {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bonuses__filter-titles-arrow i {
  font-size: 18px;
  color: $sidebarbg;
}
.bonuses__filter__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 20px;
}
.bonuses__filter__container-filter {
  position: relative;
  padding-right: 4.5%;
}
.bonuses__filter__container-filter-cats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bonuses__filter__container-filter-cats-cat {
  font-family: $Regular;
  font-size: 0.675rem;
  margin: 0 2px;
  line-height: 12px;
  color: $purple;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid $purple;
  padding: 7px 5px;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bonuses__filter__container-filter-cats-cat:hover {
  background-color: $purple;
  color: $white;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
}
.bonuses__filter__container-filter:nth-child(1) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  border-right: 1px solid #f5f5f5;
}
.bonuses__filter__container-filter:nth-child(2) {
  -webkit-flex-basis: 65.5%;
      -ms-flex-preferred-size: 65.5%;
          flex-basis: 65.5%;
  padding-right: 0;
  border: none;
}
.bonuses__filter__container-filter-title {
  text-transform: uppercase;
  font-family: $Bold;
  font-size: 0.5rem;
  line-height: 11px;
  margin-bottom: 17px;
  color: $sidebarlink;
}
.bonuses__filter__container-filter-selector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.bonuses__filter__container-filter-selector-select {
  position: relative;
  border: 1px solid $purple;
  padding: 11px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  cursor: pointer;
  font-family: $Regular;
  font-size: 0.625rem;
  line-height: 12px;
  color: $purple;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}
.bonuses__filter__container-filter-selector-select-arrow {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 0 26px 26px 0;
          border-radius: 0 26px 26px 0;
  background: $buttongradient;
  height: 36px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bonuses__filter__container-filter-selector-select-arrow i {
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 7px;
  color: $white;
}
.bonuses__filter__container-filter-filters {
  background-color: $white;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 10px;
  width: 180px;
  padding: 20px;
  z-index: 2;
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.2), 0px 0px 1px rgba(10,31,68,0.1);
}
.bonuses__filter__container-filter-filters__option {
  font-family: $SemiBold;
  font-size: 0.625rem;
  cursor: pointer;
  line-height: 13px;
  margin-bottom: 10px;
  color: $black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bonuses__filter__container-filter-filters__option:last-child {
  margin-bottom: 0;
}
.bonuses__filter__container-filter-filters__option:hover {
  color: #949494;
}
.bonuses__text {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: $white;
  margin-bottom: 20px;
  padding: 20px 25px;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
}
.bonuses__text-title {
  font-family: $Bold;
  font-size: 1.125rem;
  line-height: 24px;
  color: $text;
  margin-bottom: 15px;
}
.bonuses__text-desc {
  font-size: 0.75rem;
  font-family: $Regular;
  color: $text;
  line-height: 18px;
}
.bonuses__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonuses__navigation-numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bonuses__navigation-numbers-number {
  font-family: $Regular;
  font-size: 1.125rem;
  line-height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bonuses__navigation-numbers-number:hover {
  color: $purple;
}
.bonuses__navigation-numbers-number-active {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 38px;
  height: 38px;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  color: $white;
  background: $buttongradient;
}
.bonuses__navigation-prev p,
.bonuses__navigation-next p {
  display: block;
  font-family: $Bold;
  font-size: 0.75rem;
  color: $purple;
  line-height: 14px;
  padding-bottom: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
.bonuses__navigation-prev i,
.bonuses__navigation-next i {
  display: none;
  margin-top: -1px;
}
.bonuses__navigation-prev:hover,
.bonuses__navigation-next:hover {
  border-color: $purple;
}
.bonuses__navigation-next i {
  margin-right: -1px;
}
.bonuses__navigation-prev i {
  margin-left: -1px;
}
.bonuses__blocked {
  margin-top: 20px;
}
.bonuses__blocked__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-bottom: 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
}
.bonuses__blocked__blocks-active .bonuses__blocked__blocks-block:nth-child(1) {
  -webkit-border-radius: 15px 0 0 0;
          border-radius: 15px 0 0 0;
}
.bonuses__blocked__blocks-active .bonuses__blocked__blocks-block:nth-child(2) {
  -webkit-border-radius: 0 15px 0 0;
          border-radius: 0 15px 0 0;
}
.bonuses__blocked__blocks-active .bonuses__blocked__blocks-block:nth-child(3) {
  height: 100%;
  padding: 30px;
  border-top: 1px solid #f1f1f1;
}
.bonuses__blocked__blocks-active .bonuses__blocked__blocks-block-item__links-button-active:after {
  display: block;
}
.bonuses__blocked__blocks-active .bonuses__blocked__blocks-block-item__links-button-active .bonuses__blocked__blocks-block-item__links-button-item span {
  display: none;
}
.bonuses__blocked__blocks:last-child {
  margin-bottom: 20px;
}
.bonuses__blocked__blocks-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bonuses__blocked__blocks-block:nth-child(1) {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  -webkit-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
}
.bonuses__blocked__blocks-block:nth-child(2) {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  padding: 30px 25px 30px 30px;
  -webkit-border-radius: 0 15px 15px 0;
          border-radius: 0 15px 15px 0;
  background-color: $white;
}
.bonuses__blocked__blocks-block:nth-child(3) {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 0;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
  background-color: $white;
  height: 0;
  overflow: hidden;
}
.bonuses__blocked__blocks-block-text p {
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 18px;
  margin-bottom: 10px;
  color: $text;
}
.bonuses__blocked__blocks-block-item:nth-child(1) {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
}
.bonuses__blocked__blocks-block-item:nth-child(2) {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
.bonuses__blocked__blocks-block-item__body-title {
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: $Bold;
  color: $text;
}
.bonuses__blocked__blocks-block-item__body-title-desc {
  margin-left: 15px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-family: $Bold;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 15px;
  background-color: $yellow;
}
.bonuses__blocked__blocks-block-item__body-text {
  color: #5a5a5a;
  font-family: $Regular;
  line-height: 18px;
  font-size: 0.75rem;
}
.bonuses__blocked__blocks-block-item__links {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bonuses__blocked__blocks-block-item__links-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bonuses__blocked__blocks-block-item__links-button:nth-child(1) {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
}
.bonuses__blocked__blocks-block-item__links-button:nth-child(1):hover {
  background: none;
  color: $purple;
  border: 2px solid $purple;
}
.bonuses__blocked__blocks-block-item__links-button:nth-child(2) {
  border: 2px solid $purple;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $purple;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bonuses__blocked__blocks-block-item__links-button:nth-child(2):hover {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  color: $white;
  border: 2px solid transparent;
}
.bonuses__blocked__blocks-block-item__links-button-active:after {
  content: 'Скрыть';
  display: none;
}
@media (max-width: 1240px) {
  .bonuses__blocked__blocks-block:nth-child(1) {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
  .bonuses__blocked__blocks-block:nth-child(2) {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
  .bonuses__blocked__blocks-block-item:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bonuses__blocked__blocks-block-item:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bonuses__blocked__blocks-block-item__links {
    margin-top: 25px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bonuses__blocked__blocks-block-item__links-button {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
  .bonuses__blocked__blocks-block-item__links-button:nth-child(1) {
    margin-bottom: 0;
  }
}
@media (max-width: 1140px) {
  .bonuses__navigation-next,
  .bonuses__navigation-prev {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
            box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
    background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
    background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
    background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid transparent;
  }
  .bonuses__navigation-next:hover,
  .bonuses__navigation-prev:hover {
    background: $white;
    color: $purple;
    border: 2px solid $purple;
  }
  .bonuses__navigation-next p,
  .bonuses__navigation-prev p {
    display: none;
  }
  .bonuses__navigation-next i,
  .bonuses__navigation-prev i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991px) {
  .bonuses__filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bonuses__blocked__blocks-block-item__body-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bonuses__blocked__blocks-block-item__body-title span {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .bonuses__blocked__blocks-block-item__body-title-desc {
    margin-bottom: 15px;
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 768px) {
  .bonuses__blocked__blocks-block:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
    min-height: 100px;
  }
  .bonuses__blocked__blocks-block:nth-child(2) {
    -webkit-border-radius: 0 0 15px 15px;
            border-radius: 0 0 15px 15px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bonuses__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(1) {
    -webkit-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
  }
  .bonuses__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(2) {
    -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
  }
  .bonuses__filter-titles {
    padding: 10px 20px;
  }
  .bonuses__filter__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bonuses__filter__container-filter {
    margin-bottom: 20px;
  }
  .bonuses__filter__container-filter:nth-child(1),
  .bonuses__filter__container-filter:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding-right: 0;
    border-right: none;
  }
}
