.bookmakers
	.bookmakers__text
		.bookmakers__text-title Лучшие киберспортивные букмекерские конторы
		.bookmakers__text-desc Структурализм, конечно, непредвзято оспособляет бабувизм, ломая рамки привычных представлений.  Язык образов осмысленно подрывает закон исключённого третьего. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому знак понимает под собой естественный конфликт, при этом буквы А, В, I, О символизируют соответственно общеутвердительное.
	.separator
	.bookmakers__filter
		.bookmakers__filter-titles
			.bookmakers__filter-titles-title Фильтр прогнозов
			.bookmakers__filter-titles-arrow
				i.fa.fa-angle-up
		.bookmakers__filter__container
			.bookmakers__filter__container-filter
				.bookmakers__filter__container-filter-title Коэффициент
				input(type="text" class="js-range-slider-bookmakers" name="my_range" value="")
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title 1xBet
				.bookmakers__blocks-block__header-desc Букмекер #1
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #2
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title 1xBet
				.bookmakers__blocks-block__header-desc Букмекер #3
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #4
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #5
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #6
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #7
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #8
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__navigation
		a(href="#").bookmakers__navigation-prev
			p Предыдущая страница
			i.fa.fa-angle-left
		.bookmakers__navigation-numbers
			a(href="#").bookmakers__navigation-numbers-number 1
			a(href="#").bookmakers__navigation-numbers-number 2
			a(href="#").bookmakers__navigation-numbers-number.bookmakers__navigation-numbers-number-active 3
			a(href="#").bookmakers__navigation-numbers-number ...
			a(href="#").bookmakers__navigation-numbers-number 10
			a(href="#").bookmakers__navigation-numbers-number 11
			a(href="#").bookmakers__navigation-numbers-number 12
		a(href="#").bookmakers__navigation-next
			p Следующая страница
			i.fa.fa-angle-right

