.error
	.error__title
		p К сожалению, на данной странице ничего нет.
		span Обновите страницу или воспользуйтесь поиском.
	form(action="#")
		.error__form
			.error__form-input
				i.fa.fa-search
				input(type="text" placeholder="Поиск по сайту")
	.error__numbers
		.error__numbers-number
			p 404
			.error__numbers-number-second 404
				.error__numbers-number-second-third 404
