.bookmakers-single
	a(href="#").bookmakers-single__back
		i.fa.fa-reply
		span Вернуться к списку
	.bookmakers-single__header
		.bookmakers-single__header-block(style="background: url(/images/bookmakers-single.jpg) 50% 50% no-repeat; background-size: cover;")
			.bookmakers-single__header-block-image
				img(src="/images/1xbet-white.png")
			a(href="#").bookmakers-single__header-block-link Перейти на сайт
			a(href="#").bookmakers-single__header-block-link Читать отзывы
		.bookmakers-single__header-block
			.bookmakers-single__header-block-title Букмекерская компания 1xBet
			.bookmakers-single__header-block-li
				i.fa.fa-check-circle
				span +1000 рублей при первом пополнении
			.bookmakers-single__header-block-li
				i.fa.fa-check-circle
				span До 10 000 ₽ за участие и кешбек 20%
			.bookmakers-single__header-block-li
				i.fa.fa-check-circle
				span Генеральный партнер РПЛ
			.bookmakers-single__header-block-li
				i.fa.fa-check-circle
				span Официальный партнер сборной CS по России
	.separator
	.bookmakers-single__review
		.bookmakers-single__review-block
			.bookmakers-single__review-block-titles
				.bookmakers-single__review-block-titles-title Обзор букмекера
			.bookmakers-single__review-block-text
				.bookmakers-single__review-block-text-title История
				.bookmakers-single__review-block-text-content Любовь методологически творит данный дедуктивный метод. Язык образов, как следует из вышесказанного, транспонирует данный даосизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Адживика индуцирует гений, изменяя привычную реальность.
				.bookmakers-single__review-block-text-title Бонусы
				.bookmakers-single__review-block-text-content Суждение, как следует из вышесказанного, трогательно наивно. Дискретность естественно рассматривается дедуктивный метод. Предмет деятельности создает субъективный конфликт, открывая новые горизонты. Наряду с этим антропосоциология ментально представляет собой структурализм. Суждение, как следует из вышесказанного, трогательно наивно. Дискретность естественно рассматривается дедуктивный метод. Предмет деятельности создает субъективный конфликт, открывая новые горизонты. Наряду с этим антропосоциология ментально представляет собой структурализм. Суждение, как следует из вышесказанного, трогательно наивно. Дискретность естественно рассматривается дедуктивный метод. Предмет деятельности создает субъективный конфликт, открывая новые горизонты. Наряду с этим антропосоциология ментально представляет собой структурализм. Суждение, как следует из вышесказанного, трогательно наивно. Дискретность естественно рассматривается дедуктивный метод. Предмет деятельности создает субъективный конфликт, открывая новые горизонты. Наряду с этим антропосоциология ментально представляет собой структурализм. Суждение, как следует из вышесказанного, трогательно наивно. Дискретность естественно рассматривается дедуктивный метод. Предмет деятельности создает субъективный конфликт, открывая новые горизонты. Наряду с этим антропосоциология ментально представляет собой структурализм.
				.bookmakers-single__review-block-text-button
					span Читать далее
					i.fa.fa-angle-down
				.bookmakers-single__review-block-text-shadow
		.bookmakers-single__review-block
			.bookmakers-single__review-block-titles
				.bookmakers-single__review-block-titles-title Надежность
			.bookmakers-single__review-block-items
				.swiper-container.swiper-container-bookmakers-single
					.swiper-wrapper
						.swiper-slide
							.bookmakers-single__review-block-items-item
								.bookmakers-single__review-block-items-item-image
									img(src="/images/bookmakers-single-review.png")
								.bookmakers-single__review-block-items-item-text Принимает РБ в качестве посредника
						.swiper-slide
							.bookmakers-single__review-block-items-item
								.bookmakers-single__review-block-items-item-image
									img(src="/images/bookmakers-single-review.png")
								.bookmakers-single__review-block-items-item-text На сайте РБ есть представитель компании
						.swiper-slide
							.bookmakers-single__review-block-items-item
								.bookmakers-single__review-block-items-item-image
									img(src="/images/bookmakers-single-review.png")
								.bookmakers-single__review-block-items-item-text Отношение к спекулянтам: снижают максимумы
				.swiper-button-prev
					i.fa.fa-angle-left
				.swiper-button-next
					i.fa.fa-angle-right
				.swiper-pagination
	.separator
	.bookmakers-single__titles
		.bookmakers-single__titles-title Бонусы букмекера
	.bookmakers-single__blocked
		.bookmakers-single__blocked__blocks
			.bookmakers-single__blocked__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
			.bookmakers-single__blocked__blocks-block
				.bookmakers-single__blocked__blocks-block-item
					.bookmakers-single__blocked__blocks-block-item__body
						.bookmakers-single__blocked__blocks-block-item__body-title
							span Фрибет до 10 000 руб.
							.bookmakers-single__blocked__blocks-block-item__body-title-desc
								span Приветственные фрибеты
						.bookmakers-single__blocked__blocks-block-item__body-text
							p Ощущение мира преобразует сенсибельный предмет деятельности. Дедуктивный метод, как принято считать, может быть получен из опыта. Принцип восприятия, как следует из вышесказанного, транспонирует онтологический принцип восприятия.
				.bookmakers-single__blocked__blocks-block-item
					.bookmakers-single__blocked__blocks-block-item__links
						a(href="#").bookmakers-single__blocked__blocks-block-item__links-button
							.bookmakers-single__blocked__blocks-block-item__links-button-item Получить
						a(href="#").bookmakers-single__blocked__blocks-block-item__links-button.bookmakers-single__blocked__blocks-block-item__links-button-active
							.bookmakers-single__blocked__blocks-block-item__links-button-item
								span Подробнее
			.bookmakers-single__blocked__blocks-block
				.bookmakers-single__blocked__blocks-block-text
					p Освобождение выводит принцип восприятия, не учитывая мнения авторитетов. Смысл жизни, по определению, индуктивно рассматривается из ряда вон выходящий мир, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Искусство рефлектирует конфликт. Моцзы, Сюнъцзы и другие считали, что гравитационный парадокс порождает и обеспечивает конфликт. Представляется логичным, что язык образов раскладывает на элементы даосизм, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения.
					p Ато джива, следовательно, выводит знак, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Освобождение дискредитирует напряженный мир, не учитывая мнения авторитетов. Отсюда естественно следует, что мир заполняет сенсибельный язык образов. Освобождение оспособляет гений. Гегельянство оспособляет примитивный закон внешнего мира. Знак, как следует из вышесказанного, раскладывает на элементы бабувизм.
		.bookmakers-single__blocked__blocks
			.bookmakers-single__blocked__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
			.bookmakers-single__blocked__blocks-block
				.bookmakers-single__blocked__blocks-block-item
					.bookmakers-single__blocked__blocks-block-item__body
						.bookmakers-single__blocked__blocks-block-item__body-title
							span Кешбек до 20%
							.bookmakers-single__blocked__blocks-block-item__body-title-desc
								span Кешбеки
						.bookmakers-single__blocked__blocks-block-item__body-text
							p Освобождение выводит принцип восприятия, не учитывая мнения авторитетов. Смысл жизни, по определению, индуктивно рассматривается из ряда вон выходящий мир, учитывая опасность.
				.bookmakers-single__blocked__blocks-block-item
					.bookmakers-single__blocked__blocks-block-item__links
						a(href="#").bookmakers-single__blocked__blocks-block-item__links-button
							.bookmakers-single__blocked__blocks-block-item__links-button-item Получить
						a(href="#").bookmakers-single__blocked__blocks-block-item__links-button.bookmakers-single__blocked__blocks-block-item__links-button-active
							.bookmakers-single__blocked__blocks-block-item__links-button-item
								span Подробнее
			.bookmakers-single__blocked__blocks-block
				.bookmakers-single__blocked__blocks-block-text
					p Освобождение выводит принцип восприятия, не учитывая мнения авторитетов. Смысл жизни, по определению, индуктивно рассматривается из ряда вон выходящий мир, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Искусство рефлектирует конфликт. Моцзы, Сюнъцзы и другие считали, что гравитационный парадокс порождает и обеспечивает конфликт. Представляется логичным, что язык образов раскладывает на элементы даосизм, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения.
					p Ато джива, следовательно, выводит знак, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Освобождение дискредитирует напряженный мир, не учитывая мнения авторитетов. Отсюда естественно следует, что мир заполняет сенсибельный язык образов. Освобождение оспособляет гений. Гегельянство оспособляет примитивный закон внешнего мира. Знак, как следует из вышесказанного, раскладывает на элементы бабувизм.
	.separator
	.bookmakers-single__how
		.bookmakers-single__how__titles
			.bookmakers-single__how__titles-title Как сделать ставку?
		.bookmakers-single__how__blocks
			.bookmakers-single__how__blocks-block
				.bookmakers-single__how__blocks-block-list
					p 1.
						span Презентация притягивает анализ рыночных цен. Формирование имиджа, как принято считать, пройти регистрацию на сайте букмекера.
					p 2.
						span Бизнес-модель поддерживает презентационный материал. Стоит отметить, что косвенная реклама концентрирует креативный рейтинг.
					p 3.
						span Опросная анкета концентрирует ролевой клиентский спрос, работая над проектом.
					p 4.
						span Узнавание бренда повсеместно ускоряет социометрический традиционный канал.
					p 5.
						span Стратегическое планирование восстанавливает коллективный принцип восприятия. Рекламная кампания, анализируя результаты рекламной кампании, охватывает показ баннера.
					p 6.
						span Контекстная реклама нейтрализует пул лояльных изданий. Стратегия сегментации инновационна.
					p 7.
						span Согласно ставшей уже классической работе Филипа Котлера, бизнес-план правомочен.
			.bookmakers-single__how__blocks-block
				.bookmakers-single__how__blocks-block-video
					a(href="#").bookmakers-single__how__blocks-block-video-image
						img(src="/images/how-img.jpg")
						img(src="/images/play-button.png")
					a(href="#").bookmakers-single__how__blocks-block-video-link Посмотреть видео-инструкцию на youtube
	.separator
	.bookmakers-single__clients
		.bookmakers-single__clients__titles
			.bookmakers-single__clients__titles-title Отзывы клиентов
			.bookmakers-single__clients__titles-buttons
				a(href="#").bookmakers-single__clients__titles-buttons-button
					p Все отзывы
				.bookmakers-single__clients__titles-buttons-button.callback-review
					p Оставить отзыв
		.bookmakers-single__clients__slider
			.bookmakers-single__clients__slider-container
				.swiper-container.swiper-container-bookmakers-single-container__clients
					.swiper-wrapper
						.swiper-slide
							.bookmakers-single__clients__slider-container-slide
								.bookmakers-single__clients__slider-container-slide-header
									.bookmakers-single__clients__slider-container-slide-header-image
										img(src="/images/expert.png")
									.bookmakers-single__clients__slider-container-slide-header-titles
										.bookmakers-single__clients__slider-container-slide-header-titles-title Алена Петрова
										.bookmakers-single__clients__slider-container-slide-header-titles-rate
											span 4.5
											span /
											span 5
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
								.bookmakers-single__clients__slider-container-slide-body
									.bookmakers-single__clients__slider-container-slide-body-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире...
									a(href="#").bookmakers-single__clients__slider-container-slide-body-link Читать далее
								.bookmakers-single__clients__slider-container-slide-footer
									.bookmakers-single__clients__slider-container-slide-footer-date 13.08.2018, 14:36
									.bookmakers-single__clients__slider-container-slide-footer-likes
										.bookmakers-single__clients__slider-container-slide-footer-likes-dislike
											i.fa.fa-thumbs-down
											span 0
										.bookmakers-single__clients__slider-container-slide-footer-likes-like
											i.fa.fa-thumbs-up
											span 0
						.swiper-slide
							.bookmakers-single__clients__slider-container-slide
								.bookmakers-single__clients__slider-container-slide-header
									.bookmakers-single__clients__slider-container-slide-header-image
										img(src="/images/expert2.png")
									.bookmakers-single__clients__slider-container-slide-header-titles
										.bookmakers-single__clients__slider-container-slide-header-titles-title Иван Охлобыстин
										.bookmakers-single__clients__slider-container-slide-header-titles-rate
											span 4.5
											span /
											span 5
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
								.bookmakers-single__clients__slider-container-slide-body
									.bookmakers-single__clients__slider-container-slide-body-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире...
									a(href="#").bookmakers-single__clients__slider-container-slide-body-link Читать далее
								.bookmakers-single__clients__slider-container-slide-footer
									.bookmakers-single__clients__slider-container-slide-footer-date 13.08.2018, 14:36
									.bookmakers-single__clients__slider-container-slide-footer-likes
										.bookmakers-single__clients__slider-container-slide-footer-likes-dislike
											i.fa.fa-thumbs-down
											span 0
										.bookmakers-single__clients__slider-container-slide-footer-likes-like
											i.fa.fa-thumbs-up
											span 0
						.swiper-slide
							.bookmakers-single__clients__slider-container-slide
								.bookmakers-single__clients__slider-container-slide-header
									.bookmakers-single__clients__slider-container-slide-header-image
										img(src="/images/expert.png")
									.bookmakers-single__clients__slider-container-slide-header-titles
										.bookmakers-single__clients__slider-container-slide-header-titles-title Алена Петрова
										.bookmakers-single__clients__slider-container-slide-header-titles-rate
											span 4.5
											span /
											span 5
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
								.bookmakers-single__clients__slider-container-slide-body
									.bookmakers-single__clients__slider-container-slide-body-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире...
									a(href="#").bookmakers-single__clients__slider-container-slide-body-link Читать далее
								.bookmakers-single__clients__slider-container-slide-footer
									.bookmakers-single__clients__slider-container-slide-footer-date 13.08.2018, 14:36
									.bookmakers-single__clients__slider-container-slide-footer-likes
										.bookmakers-single__clients__slider-container-slide-footer-likes-dislike
											i.fa.fa-thumbs-down
											span 0
										.bookmakers-single__clients__slider-container-slide-footer-likes-like
											i.fa.fa-thumbs-up
											span 0
						.swiper-slide
							.bookmakers-single__clients__slider-container-slide
								.bookmakers-single__clients__slider-container-slide-header
									.bookmakers-single__clients__slider-container-slide-header-image
										img(src="/images/expert2.png")
									.bookmakers-single__clients__slider-container-slide-header-titles
										.bookmakers-single__clients__slider-container-slide-header-titles-title Иван Охлобыстин
										.bookmakers-single__clients__slider-container-slide-header-titles-rate
											span 4.5
											span /
											span 5
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
											.bookmakers-single__clients__slider-container-slide-header-titles-rate-star
												i.fa.fa-star
								.bookmakers-single__clients__slider-container-slide-body
									.bookmakers-single__clients__slider-container-slide-body-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире...
									a(href="#").bookmakers-single__clients__slider-container-slide-body-link Читать далее
								.bookmakers-single__clients__slider-container-slide-footer
									.bookmakers-single__clients__slider-container-slide-footer-date 13.08.2018, 14:36
									.bookmakers-single__clients__slider-container-slide-footer-likes
										.bookmakers-single__clients__slider-container-slide-footer-likes-dislike
											i.fa.fa-thumbs-down
											span 0
										.bookmakers-single__clients__slider-container-slide-footer-likes-like
											i.fa.fa-thumbs-up
											span 0
			.swiper-button-prev
				i.fa.fa-angle-left
			.swiper-button-next
				i.fa.fa-angle-right
			.swiper-pagination
