.knowledge-single
	margin-top 30px
	&__content
		padding 25px 25px 10px 25px
		background-color $white
		border-radius 15px
		margin-bottom 20px
		h1
			margin-bottom 20px
			font-family $Bold
			font-size 1.125rem
			line-height 24px
			color $text
		h2
			margin-bottom 20px
			font-size 0.825rem
			color $text
			font-family $SemiBold
			line-height 19px
		h3
			margin-bottom 20px
			font-size 0.75rem
			color $text
			font-family $SemiBold
			line-height 16px
		ol
			margin-bottom 20px
			color $purple
			font-family $SemiBold
			li
				margin-bottom 10px
				color $text
				font-family $Medium
				padding-left 5px
				margin-left 20px
				font-size 0.75rem
				line-height 18px
		ul
			margin-bottom 20px
			color $purple
			font-family $SemiBold
			li
				margin-bottom 10px
				color $text
				margin-left 20px
				padding-left 5px
				font-family $Medium
				font-size 0.75rem
				line-height 18px
		p
			font-family $Regular
			font-size 0.75rem
			line-height 18px
			color $text
			margin-bottom 20px
		blockquote
			border 1px solid $purple
			padding 20px 40px
			color $text
			font-family $Italic
			font-size 1rem
			position relative
			text-align center
			line-height 24px
			margin-bottom 20px
			&:before
				content '\f10e'
				position absolute
				left -10px
				top -10px
				color $purple
				display inline-block
				font normal normal normal 32px/1 FontAwesome
				text-rendering auto
				-webkit-font-smoothing antialiased
				-moz-osx-font-smoothing grayscale
	&__back
		display none
		position relative
		padding 12px
		border-radius 15px
		justify-content center
		align-items center
		background-color $yellow
		transition .3s
		margin-bottom 20px
		&:hover
			background-color $white
		& i
			color $black
			font-size 18px
		& span
			color $black
			margin-left 12px
			font-family $Bold
			font-size 0.75rem
			text-transform uppercase
			line-height 11px
	&__related
		background-color $white
		border-radius 15px
		margin-top 20px
		&-title
			p
				padding 25px
				font-family $Bold
				font-size 1.125rem
				line-height 24px
				color $text
				border-bottom 1px solid #f1f1f1
		&__items
			display flex
			flex-wrap wrap
			padding 25px
			&-item
				flex-basis 50%
				margin-bottom 12px
				p
					display inline-block
					font-family $Regular
					font-size 0.825rem
					line-height 21px
					color #9d9d9d
					span
						margin-left 4px
						font-family $Regular
						border-bottom 1px dashed rgba(84, 53, 124, 0.4)
						font-size 0.825rem
						transition .3s
						line-height 21px
						color $text
				&:hover p span
					border-color $purple
@media(max-width: 991px)
	.knowledge-single
		&__back
			display flex
		&__related
			&__items
				&-item
					flex-basis 100%
