<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title WINTIME | BOOKMAKERS
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		//- script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
	body#bookmakers
		include ./blocks/common/header.pug
		include ./blocks/common/sidebar.pug
		section
			.container
				include ./blocks/bookmakers/bookmakers.pug
				include ./blocks/common/callback.pug
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
