.expert-detail
	a(href="#").expert-detail__back
		i.fa.fa-reply
		span Вернуться к списку
	.expert-detail-block
		.expert-detail-block-header
			.expert-detail-block-header-block
				.expert-detail-block-header-block-photo
					img(src="/images/author.png")
				.expert-detail-block-header-block-title
					.expert-detail-block-header-block-title-text
						p Владимир «ВАНГА» Петров
					a(href="#").expert-detail-block-header-block-title-link
						img(src="/images/vk.png")
					a(href="#").expert-detail-block-header-block-title-link
						img(src="/images/instagram.png")
					a(href="#").expert-detail-block-header-block-title-link
						img(src="/images/twitter.png")
				.expert-detail-block-header-block-content
					.expert-detail-block-header-block-content-text Объемная скидка, как следует из вышесказанного, программирует комплексный стратегический маркетинг. Сервисная стратегия естественно нейтрализует культурный маркетинг.
			.expert-detail-block-header-block
				a(href="#").expert-detail-block-header-block-button Подписаться
				.expert-detail-block-header-block-text Следите за прогнозами данного автора, с помощью нашего сервиса
	.expert-detail-about
		.expert-detail-about-title Об авторе
		.expert-detail-about-text
			p Гравитационный парадокс, как следует из вышесказанного, категорически принимает во внимание конфликт. Бабувизм, как принято считать, индуцирует трансцендентальный закон исключённого третьего, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
			p Закон исключённого третьего, как следует из вышесказанного, творит естественный гедонизм. Гегельянство, по определению, раскладывает на элементы онтологический закон исключённого третьего, хотя в официозе принято обратное. Гений прост. Конфликт представляет собой закон исключённого третьего, tertium nоn datur.
	.separator
	.expert-detail-filters
		.expert-detail-filters-title Прогнозы автора
		.expert-detail-filters-buttons
			.expert-detail-filters-buttons-button Все
			.expert-detail-filters-buttons-button Сегодня
			.expert-detail-filters-buttons-button Завтра
	.expert-detail__blocks
		.swiper-container.swiper-container-expert-detail
			.swiper-wrapper
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span KUALA UMPUR MAJOR 2018
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.expert-detail__blocks-block__body-titles-title Na’vi Vincere vs Virtus.pro
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 3,10
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts2.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 16.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Dream League
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span CS GO
								.expert-detail__blocks-block__body-titles-title PSG.LGD vs Team Secretv
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 2,40
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts3.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Megafon
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.expert-detail__blocks-block__body-titles-title MangoBay vs Liquid
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 1,40
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts2.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 16.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Dream League
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span CS GO
								.expert-detail__blocks-block__body-titles-title PSG.LGD vs Team Secretv
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 2,40
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts3.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Megafon
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.expert-detail__blocks-block__body-titles-title MangoBay vs Liquid
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 1,40
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.expert-detail__blocks-block
						.expert-detail__blocks-block__body(style="background: url(/images/forecasts.png) 50% 50% no-repeat; background-size: cover;")
							.expert-detail__blocks-block__body-desc
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.expert-detail__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span KUALA UMPUR MAJOR 2018
							.expert-detail__blocks-block__body-titles
								.expert-detail__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.expert-detail__blocks-block__body-titles-title Na’vi Vincere vs Virtus.pro
								.expert-detail__blocks-block__body-titles-rate
									.expert-detail__blocks-block__body-titles-rate-container
										span К:
										span 3,10
						.expert-detail__blocks-block__footer
							.expert-detail__blocks-block__footer-photo
								img(src="/images/author.png")
							.expert-detail__blocks-block__footer-title Владимир Петров
							.expert-detail__blocks-block__footer-author Автор прогноза
							a(href="#").expert-detail__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
			.swiper-pagination
		.expert-detail__blocks-button
			a(href="#").expert-detail__blocks-button-item Посмотреть ещё
	.separator
	.expert-detail__comments
		.expert-detail__comments-titles
			.expert-detail__comments-titles-title Комментарии
		form(action="#").expert-detail__comments-form
			input(type="text" name="comment" placeholder="Напишите свой комментарий к прогнозу").expert-detail__comments-form-input
			button(type="submit").expert-detail__comments-form-button Отправить
		.expert-detail__comments-commentlist
			.expert-detail__comments-commentlist-item
				.expert-detail__comments-commentlist-item-content
					.expert-detail__comments-commentlist-item-content-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
					.expert-detail__comments-commentlist-item-content-photo
						img(src="/images/author.png")
						.expert-detail__comments-commentlist-item-content-photo-title Дениска Убийца
				.expert-detail__comments-commentlist-item-info
					.expert-detail__comments-commentlist-item-info-date 13.08.2018, 14:36
					.expert-detail__comments-commentlist-item-info-likes
						.expert-detail__comments-commentlist-item-info-likes-dislike
							i.fa.fa-thumbs-down
							span 0
						.expert-detail__comments-commentlist-item-info-likes-like
							i.fa.fa-thumbs-up
							span 0
			.expert-detail__comments-commentlist-item
				.expert-detail__comments-commentlist-item-content
					.expert-detail__comments-commentlist-item-content-text Дуализм принимает во внимание бабувизм)))))
					.expert-detail__comments-commentlist-item-content-photo
						img(src="/images/expert.png")
						.expert-detail__comments-commentlist-item-content-photo-title Володя Терминатор
				.expert-detail__comments-commentlist-item-info
					.expert-detail__comments-commentlist-item-info-date 13.08.2018, 14:36
					.expert-detail__comments-commentlist-item-info-likes
						.expert-detail__comments-commentlist-item-info-likes-dislike
							i.fa.fa-thumbs-down
							span 0
						.expert-detail__comments-commentlist-item-info-likes-like
							i.fa.fa-thumbs-up
							span 0
