// global
$black = #000
$white = #fff
$bg = #E5E5E5
$buttongradient = background linear-gradient(170.05deg, #9537A5 25.2%, #7140B3 79.4%)
$text = #313131
$yellow = #FAD94E
$purple = #54357C


// fonts
$Black = Black
$BlackItalic = BlackItalic
$Bold = Bold
$BoldItalic = BoldItalic
$ExtraBoldItalic = ExtraBoldItalic
$ExtraLight = ExtraLight
$ExtraLightItalic = ExtraLightItalic
$Italic = Italic
$Light = Light
$LightItalic = LightItalic
$Medium = Medium
$MediumItalic = MediumItalic
$Regular = Regular
$SemiBold = SemiBold
$SemiBoldItalic = SemiBoldItalic
$Thin = Thin
$ThinItalic = ThinItalic

// header
$header = #43256A
$header2 = #5A3E7E
$headertext = #fff
$headertextactive = #34165A
$headeryellowtext = #FAD94E
$headeryellowborder = #FAD94E
$headeryellowsvg = #FAD94E

//sidebar
$sidebarbg = #313131
$sidebartitle = #fff
$sidebarlink = #6C6C6C
$sidebararrow = #FAD94E
$sidebarlinkactive = #5E3F7E
$sidebarlinkborder = #F1F1F1
$sidebarbottomlink = #54357C

//popup
$headerbg = #313131
