@import "../vendor/swiper/dist/css/swiper.min.css"
@import "../vendor/font-awesome/css/font-awesome.min.css"
@import "../vendor/alertify/alertify.core.css"
@import "../vendor/alertify/alertify.default.css"
@import "../vendor/malihu-scroll/jquery.mCustomScrollbar.min.css"
@import "../vendor/selectize/selectize.css"
