@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//global
@import "./blocks/common/_header.styl"
@import "./blocks/common/_sidebar.styl"
@import "./blocks/common/_callback.styl"
@import "./blocks/common/_review-callback.styl"

// index
@import "./blocks/index/_forecasts.styl"
@import "./blocks/index/_bookmakers.styl"
@import "./blocks/index/_experts.styl"
@import "./blocks/index/_matches.styl"

//forecasts
@import "./blocks/forecasts/_forecasts.styl"

//forecasts-tags
@import "./blocks/forecasts-tags/_forecasts-tags.styl"

//bookmakers
@import "./blocks/bookmakers/_bookmakers.styl"

//bookmakers-single
@import "./blocks/bookmakers-single/_bookmakers-single.styl"

//experts
@import "./blocks/experts/_experts.styl"

//expert-detail
@import "./blocks/expert-detail/_expert-detail.styl"

//forecast-single
@import "./blocks/forecast-single/_forecast-single.styl"

//404
@import "./blocks/404/_404.styl"

//bonuses
@import "./blocks/bonuses/_bonuses.styl"

//search
@import "./blocks/search/_search.styl"

//knowledgebase
@import "./blocks/knowledgebase/_knowledgebase.styl"

//knowledgebase
@import "./blocks/knowledge-single/_knowledge-single.styl"

//knowledgebase
@import "./blocks/common/_login.styl"

//knowledgebase
@import "./blocks/common/_registration.styl"

//knowledgebase
@import "./blocks/common/_forgot.styl"

//additional-classes
@import "./blocks/common/_additional-classes.styl"
