.forgotpopup-bg
.forgotpopup
	.forgotpopup__header
		.forgotpopup__header-container
			.forgotpopup__header-container-title Забыл пароль
			.forgotpopup__header-container-close
				i.fa.fa-times
	.forgotpopup__body
		form(action="#").forgotpopup__body-form
			.forgotpopup__body-form-input
				i.fa.fa-envelope
				input(type="text" name="email" placeholder="Электронная почта")
			.forgotpopup__body-form-button
				button(type="submit") Восстановить пароль
			.forgotpopup__body-form-text
				.forgotpopup__body-form-text
					p Вспомнили пароль?
						a(href="#").login Войти
