.loginpopup-bg
.loginpopup
	.loginpopup__header
		.loginpopup__header-container
			.loginpopup__header-container-title Вход
			.loginpopup__header-container-close
				i.fa.fa-times
	.loginpopup__body
		form(action="#").loginpopup__body-form
			.loginpopup__body-form-input
				i.fa.fa-user
				input(type="text" name="name" placeholder="Имя пользователя")
			.loginpopup__body-form-input
				i.fa.fa-envelope
				input(type="text" name="password" placeholder="Пароль")
			label.loginpopup__body-form-policy
				input.checkbox(type="checkbox" name="radio-test" required="required" checked)
				span.checkbox-custom
				div
					p Запомнить меня
			.loginpopup__body-form-forgot
				div
					a(href="#").forgot
						i.fa.fa-question-circle
						span Забыл пароль
			.loginpopup__body-form-button
				button(type="submit") Войти
			.loginpopup__body-form-text
				.loginpopup__body-form-text
					p Еще нет аккаунта?
						a(href="#").registration Зарегистрироваться
