.bookmakers
	.bookmakers__titles
		.bookmakers__titles-title Лучшие букмекеры
		a(href="#").bookmakers__titles-button
			p Смотреть весь список
			i.fa.fa-angle-right
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title 1xBet
				.bookmakers__blocks-block__header-desc Букмекер #1
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #2
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title 1xBet
				.bookmakers__blocks-block__header-desc Букмекер #3
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #4
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
	.bookmakers__blocks
		.bookmakers__blocks-block(style="background: url(/images/bookmakers2.png) 50% 50% no-repeat; background-size: cover;")
		.bookmakers__blocks-block
			.bookmakers__blocks-block__header
				.bookmakers__blocks-block__header-title Leon
				.bookmakers__blocks-block__header-desc Букмекер #5
				.bookmakers__blocks-block__header-prize
					.bookmakers__blocks-block__header-prize-bg
					span бонус
					span +1000
					span руб.
			.bookmakers__blocks-block__header
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item Обзор
				a(href="#").bookmakers__blocks-block__header-button
					.bookmakers__blocks-block__header-button-item На сайт
			.bookmakers__blocks-block__body
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span +1000 рублей при первом пополнении
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Генеральный партнер РПЛ
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span До 10 000 ₽ за участие и кешбек 20%
				.bookmakers__blocks-block__body-item
					i.fa.fa-check-circle
					span Официальный партнер сборной CS по России
.separator
