.experts
	.experts__titles
		.experts__titles-title Эксперты
	.experts__slider
		.swiper-container.swiper-container-experts
			.swiper-wrapper
				.swiper-slide
					.experts__slider-item
						.experts__slider-item__header
							.experts__slider-item__header-img(style="background: url(/images/expert.png) 50% 50% no-repeat; background-size: cover;")
							.experts__slider-item__header-title
								.experts__slider-item__header-title-text Алена Петрова
							.experts__slider-item__header-desc Программирует комплексный стратегический маркетинг.
						.experts__slider-item__body
							a(href="#").experts__slider-item__body-item
								i.fa.fa-eye
								span Прогнозы автора
								span (34)
							a(href="#").experts__slider-item__body-item
								i.fa.fa-user
								span Подробнее
				.swiper-slide
					.experts__slider-item
						.experts__slider-item__header
							.experts__slider-item__header-img(style="background: url(/images/expert.png) 50% 50% no-repeat; background-size: cover;")
							.experts__slider-item__header-title
								.experts__slider-item__header-title-text Алена Петрова
							.experts__slider-item__header-desc Программирует комплексный стратегический маркетинг.
						.experts__slider-item__body
							a(href="#").experts__slider-item__body-item
								i.fa.fa-eye
								span Прогнозы автора
								span (34)
							a(href="#").experts__slider-item__body-item
								i.fa.fa-user
								span Подробнее
				.swiper-slide
					.experts__slider-item
						.experts__slider-item__header
							.experts__slider-item__header-img(style="background: url(/images/expert.png) 50% 50% no-repeat; background-size: cover;")
							.experts__slider-item__header-title
								.experts__slider-item__header-title-text Алена Петрова
							.experts__slider-item__header-desc Программирует комплексный стратегический маркетинг.
						.experts__slider-item__body
							a(href="#").experts__slider-item__body-item
								i.fa.fa-eye
								span Прогнозы автора
								span (34)
							a(href="#").experts__slider-item__body-item
								i.fa.fa-user
								span Подробнее
				.swiper-slide
					.experts__slider-item
						.experts__slider-item__header
							.experts__slider-item__header-img(style="background: url(/images/expert.png) 50% 50% no-repeat; background-size: cover;")
							.experts__slider-item__header-title
								.experts__slider-item__header-title-text Алена Петрова
							.experts__slider-item__header-desc Программирует комплексный стратегический маркетинг.
						.experts__slider-item__body
							a(href="#").experts__slider-item__body-item
								i.fa.fa-eye
								span Прогнозы автора
								span (34)
							a(href="#").experts__slider-item__body-item
								i.fa.fa-user
								span Подробнее
		.swiper-button-prev
			i.fa.fa-angle-left
		.swiper-button-next
			i.fa.fa-angle-right
	.swiper-pagination
.separator
