.matches
	.matches__titles
		.matches__titles-title Киберспортивные матчи
	.matches__table
		.matches__table-titles
			.matches__table-titles-item Дата
			.matches__table-titles-item Кто играет
			.matches__table-titles-item Турнир
			.matches__table-titles-item Кол-во прогнозов
			.matches__table-titles-item
	.matches__tableitems
		.matches__tableitems-items
			.matches__tableitems-items-item 13.08.2018, 14:36
			.matches__tableitems-items-item Na’Vi vs Virtus.Pro
			.matches__tableitems-items-item Kuala Lumpur Major 2018
			.matches__tableitems-items-item
				.matches__tableitems-items-item-views
					span 12
					span прогнозов
			.matches__tableitems-items-item
				.matches__tableitems-items-item-prize
					.matches__tableitems-items-item-prize-img
						img(src="/images/matches.png")
					.matches__tableitems-items-item-prize-title Бонус: 1000 р.
					a(href="#").matches__tableitems-items-item-prize-link
						.matches__tableitems-items-item-prize-link-content
							i.fa.fa-link
							span На сайт
		.matches__tableitems-items
			.matches__tableitems-items-item 13.08.2018, 14:36
			.matches__tableitems-items-item Na’Vi vs Virtus.Pro
			.matches__tableitems-items-item Kuala Lumpur Major 2018
			.matches__tableitems-items-item
				.matches__tableitems-items-item-views
					span 12
					span прогнозов
			.matches__tableitems-items-item
				.matches__tableitems-items-item-prize
					.matches__tableitems-items-item-prize-img
						img(src="/images/matches.png")
					.matches__tableitems-items-item-prize-title Бонус: 1000 р.
					a(href="#").matches__tableitems-items-item-prize-link
						.matches__tableitems-items-item-prize-link-content
							i.fa.fa-link
							span На сайт
		.matches__tableitems-items
			.matches__tableitems-items-item 13.08.2018, 14:36
			.matches__tableitems-items-item Na’Vi vs Virtus.Pro
			.matches__tableitems-items-item Kuala Lumpur Major 2018
			.matches__tableitems-items-item
				.matches__tableitems-items-item-views
					span 12
					span прогнозов
			.matches__tableitems-items-item
				.matches__tableitems-items-item-prize
					.matches__tableitems-items-item-prize-img
						img(src="/images/matches.png")
					.matches__tableitems-items-item-prize-title Бонус: 1000 р.
					a(href="#").matches__tableitems-items-item-prize-link
						.matches__tableitems-items-item-prize-link-content
							i.fa.fa-link
							span На сайт
		.matches__tableitems-items
			.matches__tableitems-items-item 13.08.2018, 14:36
			.matches__tableitems-items-item Na’Vi vs Virtus.Pro
			.matches__tableitems-items-item Kuala Lumpur Major 2018
			.matches__tableitems-items-item
				.matches__tableitems-items-item-views
					span 12
					span прогнозов
			.matches__tableitems-items-item
				.matches__tableitems-items-item-prize
					.matches__tableitems-items-item-prize-img
						img(src="/images/matches.png")
					.matches__tableitems-items-item-prize-title Бонус: 1000 р.
					a(href="#").matches__tableitems-items-item-prize-link
						.matches__tableitems-items-item-prize-link-content
							i.fa.fa-link
							span На сайт
		.matches__tableitems-items
			.matches__tableitems-items-item 13.08.2018, 14:36
			.matches__tableitems-items-item Na’Vi vs Virtus.Pro
			.matches__tableitems-items-item Kuala Lumpur Major 2018
			.matches__tableitems-items-item
				.matches__tableitems-items-item-views
					span 12
					span прогнозов
			.matches__tableitems-items-item
				.matches__tableitems-items-item-prize
					.matches__tableitems-items-item-prize-img
						img(src="/images/matches.png")
					.matches__tableitems-items-item-prize-title Бонус: 1000 р.
					a(href="#").matches__tableitems-items-item-prize-link
						.matches__tableitems-items-item-prize-link-content
							i.fa.fa-link
							span На сайт
