.experts
	.experts__text
		.experts__text-title Эксперты, авторы прогнозов
		.experts__text-desc Структурализм, конечно, непредвзято оспособляет бабувизм, ломая рамки привычных представлений.  Язык образов осмысленно подрывает закон исключённого третьего. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому знак понимает под собой естественный конфликт, при этом буквы А, В, I, О символизируют соответственно общеутвердительное.
	.separator
	.experts__blocks
		.experts__blocks-block
			.experts__blocks-block-header
				.experts__blocks-block-header-block
					.experts__blocks-block-header-block-photo
						img(src="/images/author.png")
					.experts__blocks-block-header-block-title
						.experts__blocks-block-header-block-title-text
							p Владимир «ВАНГА» Петров
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/vk.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/instagram.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/twitter.png")
					.experts__blocks-block-header-block-content
						.experts__blocks-block-header-block-content-text Объемная скидка, как следует из вышесказанного, программирует комплексный стратегический маркетинг. Сервисная стратегия естественно нейтрализует культурный маркетинг.
				.experts__blocks-block-header-block
					a(href="#").experts__blocks-block-header-block-button Подписаться
					.experts__blocks-block-header-block-text Следите за прогнозами данного автора, с помощью нашего сервиса
			.experts__blocks-block-body
				.experts__blocks-block-body-title Последние прогнозы Владимира
				.experts__blocks-block-body-table
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 3,10
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p PSG.LGD vs Team Secret
								p к-эф:
									span 2,04
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-played
								i.fa.fa-check
								span Ставка прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 15.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p MangoBay vs Liquid
								p к-эф:
									span 4,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-notplayed
								i.fa.fa-times
								span Ставка не прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 01.01.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 1,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
			.experts__blocks-block-footer
				a(href="#").experts__blocks-block-footer-button
					p Все прогнозы автора
						span (24)
		.experts__blocks-block
			.experts__blocks-block-header
				.experts__blocks-block-header-block
					.experts__blocks-block-header-block-photo
						img(src="/images/author.png")
					.experts__blocks-block-header-block-title
						.experts__blocks-block-header-block-title-text
							p Владимир «ВАНГА» Петров
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/vk.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/instagram.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/twitter.png")
					.experts__blocks-block-header-block-content
						.experts__blocks-block-header-block-content-text Объемная скидка, как следует из вышесказанного, программирует комплексный стратегический маркетинг. Сервисная стратегия естественно нейтрализует культурный маркетинг.
				.experts__blocks-block-header-block
					a(href="#").experts__blocks-block-header-block-button Подписаться
					.experts__blocks-block-header-block-text Следите за прогнозами данного автора, с помощью нашего сервиса
			.experts__blocks-block-body
				.experts__blocks-block-body-title Последние прогнозы Владимира
				.experts__blocks-block-body-table
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 3,10
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p PSG.LGD vs Team Secret
								p к-эф:
									span 2,04
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-played
								i.fa.fa-check
								span Ставка прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 15.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p MangoBay vs Liquid
								p к-эф:
									span 4,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-notplayed
								i.fa.fa-times
								span Ставка не прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 01.01.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 1,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
			.experts__blocks-block-footer
				a(href="#").experts__blocks-block-footer-button
					p Все прогнозы автора
					span (24)
		.experts__blocks-block
			.experts__blocks-block-header
				.experts__blocks-block-header-block
					.experts__blocks-block-header-block-photo
						img(src="/images/author.png")
					.experts__blocks-block-header-block-title
						.experts__blocks-block-header-block-title-text
							p Владимир «ВАНГА» Петров
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/vk.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/instagram.png")
						a(href="#").experts__blocks-block-header-block-title-link
							img(src="/images/twitter.png")
					.experts__blocks-block-header-block-content
						.experts__blocks-block-header-block-content-text Объемная скидка, как следует из вышесказанного, программирует комплексный стратегический маркетинг. Сервисная стратегия естественно нейтрализует культурный маркетинг.
				.experts__blocks-block-header-block
					a(href="#").experts__blocks-block-header-block-button Подписаться
					.experts__blocks-block-header-block-text Следите за прогнозами данного автора, с помощью нашего сервиса
			.experts__blocks-block-body
				.experts__blocks-block-body-title Последние прогнозы Владимира
				.experts__blocks-block-body-table
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 3,10
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p PSG.LGD vs Team Secret
								p к-эф:
									span 2,04
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-played
								i.fa.fa-check
								span Ставка прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 15.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p MangoBay vs Liquid
								p к-эф:
									span 4,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-notplayed
								i.fa.fa-times
								span Ставка не прошла
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 01.01.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
					.experts__blocks-block-body-table-item
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-title
								p Na’Vi vs Virtus.pro
								p к-эф:
									span 1,12
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-status.experts__blocks-block-body-table-item-column-status-yetnotplayed
								i.fa.fa-clock-o
								span Ставка еще не разыграна
						.experts__blocks-block-body-table-item-column
							.experts__blocks-block-body-table-item-column-date 14.08.2018
						.experts__blocks-block-body-table-item-column
							a(href="#").experts__blocks-block-body-table-item-column-link
								i.fa.fa-eye
								span Перейти к прогнозу
								i.fa.fa-angle-right
			.experts__blocks-block-footer
				a(href="#").experts__blocks-block-footer-button
					p Все прогнозы автора
					span (24)
