.forecasts-tags
	.forecasts-tags__text
		.forecasts-tags__text-title Прогнозы на киберспортивные матчи
		.forecasts-tags__text-desc Структурализм, конечно, непредвзято оспособляет бабувизм, ломая рамки привычных представлений.  Язык образов осмысленно подрывает закон исключённого третьего. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому знак понимает под собой естественный конфликт, при этом буквы А, В, I, О символизируют соответственно общеутвердительное.
	.separator
	.forecasts-tags__filter
		.forecasts-tags__filter-titles
			.forecasts-tags__filter-titles-title Фильтр прогнозов
			.forecasts-tags__filter-titles-arrow
				i.fa.fa-angle-up
		.forecasts-tags__filter__container
			.forecasts-tags__filter__container-filter
				.forecasts-tags__filter__container-filter-title Вид спорта
				.forecasts-tags__filter__container-filter-selector
					.forecasts-tags__filter__container-filter-selector-select#result3(data-target="") Dota 2
					.forecasts-tags__filter__container-filter-selector-select-arrow
						i.fa.fa-angle-down
				.forecasts-tags__filter__container-filter-filters
					.forecasts-tags__filter__container-filter-filters__option(data-target="Dota 2") Dota 2
					.forecasts-tags__filter__container-filter-filters__option(data-target="CS:GO") CS:GO
			.forecasts-tags__filter__container-filter
				.forecasts-tags__filter__container-filter-title Автор
				.forecasts-tags__filter__container-filter-selector
					.forecasts-tags__filter__container-filter-selector-select#result4(data-target="") Все авторы
					.forecasts-tags__filter__container-filter-selector-select-arrow
						i.fa.fa-angle-down
				.forecasts-tags__filter__container-filter-filters
					.forecasts-tags__filter__container-filter-filters__option.forecasts-tags__filter__container-filter-filters__option2(data-target="Популярные") Популярные
					.forecasts-tags__filter__container-filter-filters__option.forecasts-tags__filter__container-filter-filters__option2(data-target="Новые") Новые
	.forecasts-tags__blocks
		.forecasts-tags__blocks-block
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span KUALA UMPUR MAJOR 2018
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span DOTA 2
					.forecasts-tags__blocks-block__body-titles-title Na’vi Vincere vs Virtus.pro
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 3,10
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
		.forecasts-tags__blocks-block.forecasts-tags__blocks-block-disabled
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts2.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 16.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span Dream League
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span CS GO
					.forecasts-tags__blocks-block__body-titles-title PSG.LGD vs Team Secretv
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 2,40
						.forecasts-tags__blocks-block__body-titles-rate-status
							span Матч завершён
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
		.forecasts-tags__blocks-block
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts3.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span Megafon
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span DOTA 2
					.forecasts-tags__blocks-block__body-titles-title MangoBay vs Liquid
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 1,40
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
		.forecasts-tags__blocks-block
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts2.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 16.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span Dream League
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span CS GO
					.forecasts-tags__blocks-block__body-titles-title PSG.LGD vs Team Secretv
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 2,40
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
		.forecasts-tags__blocks-block
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts3.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span Megafon
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span DOTA 2
					.forecasts-tags__blocks-block__body-titles-title MangoBay vs Liquid
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 1,40
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
		.forecasts-tags__blocks-block
			.forecasts-tags__blocks-block__body(style="background: url(/images/forecasts.png) 50% 50% no-repeat; background-size: cover;")
				.forecasts-tags__blocks-block__body-desc
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-clock-o
						span 14:00
					.forecasts-tags__blocks-block__body-desc-item
						i.fa.fa-info-circle
						span KUALA UMPUR MAJOR 2018
				.forecasts-tags__blocks-block__body-titles
					.forecasts-tags__blocks-block__body-titles-category
						i.fa.fa-gamepad
						span DOTA 2
					.forecasts-tags__blocks-block__body-titles-title Na’vi Vincere vs Virtus.pro
					.forecasts-tags__blocks-block__body-titles-rate
						.forecasts-tags__blocks-block__body-titles-rate-container
							span К:
							span 3,10
			.forecasts-tags__blocks-block__footer
				.forecasts-tags__blocks-block__footer-photo
					img(src="/images/author.png")
				.forecasts-tags__blocks-block__footer-title Владимир Петров
				.forecasts-tags__blocks-block__footer-author Автор прогноза
				a(href="#").forecasts-tags__blocks-block__footer-button
					p Смотреть
					i.fa.fa-angle-right
	.forecasts-tags__navigation
		a(href="#").forecasts-tags__navigation-prev
			p Предыдущая страница
			i.fa.fa-angle-left
		.forecasts-tags__navigation-numbers
			a(href="#").forecasts-tags__navigation-numbers-number 1
			a(href="#").forecasts-tags__navigation-numbers-number 2
			a(href="#").forecasts-tags__navigation-numbers-number.forecasts-tags__navigation-numbers-number-active 3
			a(href="#").forecasts-tags__navigation-numbers-number ...
			a(href="#").forecasts-tags__navigation-numbers-number 10
			a(href="#").forecasts-tags__navigation-numbers-number 11
			a(href="#").forecasts-tags__navigation-numbers-number 12
		a(href="#").forecasts-tags__navigation-next
			p Следующая страница
			i.fa.fa-angle-right
