.forecast-single
	a(href="#").forecast-single__back
		i.fa.fa-reply
		span Вернуться к списку
	.forecast-single__heading
		.forecast-single__heading-block
			.forecast-single__heading-block-bg(style="background: url(/images/forecast-single-bg.jpg) 50% 20% no-repeat;background-size: cover;")
			.forecast-single__heading-block-shadow
			.forecast-single__heading-block-info
				.forecast-single__heading-block-info-title
					span Na’vi
					span VS
					span Virtus.Pro
				.forecast-single__heading-block-info-cats
					.forecast-single__heading-block-info-cats-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecast-single__heading-block-info-cats-item
						i.fa.fa-clock-o
						span 14:00
					.forecast-single__heading-block-info-cats-item
						i.fa.fa-info-circle
						span Kuala lumpur major
		.forecast-single__heading-block
			.forecast-single__heading-block-header
				.forecast-single__heading-block-header-title Букмекеры
				.forecast-single__heading-block-header-text Принимающие ставки на этот матч
			.forecast-single__heading-block-items
				.forecast-single__heading-block-items-item
					.forecast-single__heading-block-items-item-block
						.forecast-single__heading-block-items-item-block-img
							img(src="/images/matches.png")
						a(href="#").forecast-single__heading-block-items-item-block-link
							i.fa.fa-link
							span Перейти на сайт
					.forecast-single__heading-block-items-item-block
						.forecast-single__heading-block-items-item-block-title Бонус
						.forecast-single__heading-block-items-item-block-price + 1 000 P.
				.forecast-single__heading-block-items-item
					.forecast-single__heading-block-items-item-block
						.forecast-single__heading-block-items-item-block-img
							img(src="/images/1xbet.png")
						a(href="#").forecast-single__heading-block-items-item-block-link
							i.fa.fa-link
							span Перейти на сайт
					.forecast-single__heading-block-items-item-block
						.forecast-single__heading-block-items-item-block-title Бонус
						.forecast-single__heading-block-items-item-block-price + 1 000 P.
	.separator
	.forecast-single__content
		.forecast-single__content-title
			.forecast-single__content-title-text Прогноз на матч Na’vi Vincere vs Virtus.Pro
			.forecast-single__content-title-date 14.08.2018
		.forecast-single__content-text
			a(href="#").forecast-single__content-text-video
				.forecast-single__content-text-video-img
					img(src="/images/how-img.jpg")
					.forecast-single__content-text-video-img-play
						img(src="/images/play-button.png")
				.forecast-single__content-text-video-block
					.forecast-single__content-text-video-block-link
						.forecast-single__content-text-video-block-link-title
							i.fa.fa-play-circle
							span Смотреть видео на youtube
			p Принцип восприятия, как принято считать. Отношение к современности представляет собой принцип восприятия, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
			p Язык образов реально рассматривается интеллигибельный катарсис. Современная критика, как следует из вышесказанного, транспонирует типичный бабувизм.
			p Смысл жизни, конечно, создает субъективный мир. Освобождение индуктивно представляет собой знак. Смысл жизни, как принято считать, прост. Априори, принцип восприятия творит язык образов.
			p Надо сказать, что гедонизм реально представляет собой знак. Заблуждение заполняет примитивный конфликт. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако исчисление предикатов творит интеллект, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения. Согласно предыдущему, философия иллюзорна.
			p Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако суждение представляет собой закон внешнего мира. Деонтология, следовательно, реально порождает и обеспечивает трагический закон исключённого третьего, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения. Гедонизм ясен не всем. Согласно предыдущему, принцип восприятия понимает под собой интеллект. Освобождение контролирует предмет деятельности.
			p Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что отношение к современности заполняет онтологический здравый смысл, не учитывая мнения авторитетов. Галактика, по определению, индуцирует позитивизм.
		.forecast-single__content-desc Смысл жизни, как принято считать, прост. Априори, принцип восприятия творит язык образов.  Современная критика, как следует из вышесказанного. Язык образов методологически оспособляет точный счёт 4:1 в пользу Na’Vi.
	.separator
	.forecast-single__container
		.forecast-single__container-vote
			.forecast-single__container-vote-block
				.forecast-single__container-vote-block-blocks
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-clock-o
						span 14:00
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-info-circle
						span KUALA LUMPUR MAJOR 2018
				.forecast-single__container-vote-block-title
					span Na’vi Vincere
					p vs
					span Virtus.pro
				.forecast-single__container-vote-block-content
					p Ставка:
						span точный счет, 4:1
					.forecast-single__container-vote-block-content-count к-эф:
						.forecast-single__container-vote-block-content-count-number 3,10
			.forecast-single__container-vote-block
				.forecast-single__container-vote-block-blocks
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-calendar-o
						span 14.08.2018
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-clock-o
						span 14:00
					.forecast-single__container-vote-block-blocks-item
						i.fa.fa-info-circle
						span KUALA LUMPUR MAJOR 2018
				.forecast-single__container-vote-block-title
					span PSG.LGD
					p vs
					span Team Secret
					.forecast-single__container-vote-block-title-status
						.forecast-single__container-vote-block-title-status-block.forecast-single__container-vote-block-title-status-block-yetnotplayed
							i.fa.fa-clock-o
							span Ставка еще не разыграна
				.forecast-single__container-vote-block-content
					p Ставка:
						span Ничья
					.forecast-single__container-vote-block-content-count к-эф:
						.forecast-single__container-vote-block-content-count-number 4,10
			.forecast-single__container-vote-block60
				.forecast-single__container-vote-block60-question Ставка пройдет?
				.forecast-single__container-vote-block60-result
					.forecast-single__container-vote-block60-result-bar
						.forecast-single__container-vote-block60-result-bar-green
						.forecast-single__container-vote-block60-result-bar-red
					.forecast-single__container-vote-block60-result-button
						.forecast-single__container-vote-block60-result-button-yes
							i.fa.fa-thumbs-up
							span Пройдет (75%)
					.forecast-single__container-vote-block60-result-button
						.forecast-single__container-vote-block60-result-button-no
							i.fa.fa-thumbs-up
							span Не пройдет (25%)
			.forecast-single__container-vote-block40
				.forecast-single__container-vote-block40-percent 75%
				.forecast-single__container-vote-block40-text пользователей считают, что
					span.forecast-single__container-vote-block40-text-green ставка пройдет
			.forecast-single__container-vote-block-bg(style="background: url(/images/vote-bg.png) 100% 0% no-repeat;")
		.forecast-single__container-bonus
			.forecast-single__container-bonus-block
				.forecast-single__container-bonus-block-img
					img(src="/images/1xbet-white.png")
				.forecast-single__container-bonus-block-price
					.forecast-single__container-bonus-block-price-title Бонус
					.forecast-single__container-bonus-block-price-text + 1 000 р.
			.forecast-single__container-bonus-block
				a(href="#").forecast-single__container-bonus-block-link Повторить ставку
				.forecast-single__container-bonus-block-text Используйте данный прогноз, поставьте у букмекера 1xBet и получите бонус 1000 руб.
			.forecast-single__container-bonus-bg(style="background: url(/images/bonus-bg.png) 0% 0% no-repeat;")
	.separator
	.forecast-single-block
		.forecast-single-block-header
			.forecast-single-block-header-block
				.forecast-single-block-header-block-photo
					img(src="/images/author.png")
				.forecast-single-block-header-block-title
					.forecast-single-block-header-block-title-text
						p Владимир «ВАНГА» Петров
					a(href="#").forecast-single-block-header-block-title-link
						img(src="/images/vk.png")
					a(href="#").forecast-single-block-header-block-title-link
						img(src="/images/instagram.png")
					a(href="#").forecast-single-block-header-block-title-link
						img(src="/images/twitter.png")
				.forecast-single-block-header-block-content
					.forecast-single-block-header-block-content-text Объемная скидка, как следует из вышесказанного, программирует комплексный стратегический маркетинг. Сервисная стратегия естественно нейтрализует культурный маркетинг.
			.forecast-single-block-header-block
				a(href="#").forecast-single-block-header-block-button Подписаться
				.forecast-single-block-header-block-text Следите за прогнозами данного автора, с помощью нашего сервиса
	.separator
	.forecast-single__cats
		.forecast-single__cats-block
			.forecast-single__cats-block-title Категория:
			.forecast-single__cats-block-links
				a(href="#").forecast-single__cats-block-links-link Предстоящие прогнозы
				span ,
				a(href="#").forecast-single__cats-block-links-link Dota 2
		.forecast-single__cats-block
			.forecast-single__cats-block-title Теги:
			.forecast-single__cats-block-tags
				a(href="#").forecast-single__cats-block-tags-tag Virtus.Pro
				a(href="#").forecast-single__cats-block-tags-tag Na’Vi
				a(href="#").forecast-single__cats-block-tags-tag Kuala Lumpur Major
				a(href="#").forecast-single__cats-block-tags-tag 2018
	.separator
	.forecast-single__relatedtitle
		.forecast-single__relatedtitle-title Похожие прогнозы
	.forecast-single__blocks
		.swiper-container.swiper-container-forecast-single
			.swiper-wrapper
				.swiper-slide
					.forecast-single__blocks-block
						.forecast-single__blocks-block__body(style="background: url(/images/forecasts.png) 50% 50% no-repeat; background-size: cover;")
							.forecast-single__blocks-block__body-desc
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span KUALA UMPUR MAJOR 2018
							.forecast-single__blocks-block__body-titles
								.forecast-single__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.forecast-single__blocks-block__body-titles-title Na’vi Vincere vs Virtus.pro
								.forecast-single__blocks-block__body-titles-rate
									.forecast-single__blocks-block__body-titles-rate-container
										span К:
										span 3,10
						.forecast-single__blocks-block__footer
							.forecast-single__blocks-block__footer-photo
								img(src="/images/author.png")
							.forecast-single__blocks-block__footer-title Владимир Петров
							.forecast-single__blocks-block__footer-author Автор прогноза
							a(href="#").forecast-single__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.forecast-single__blocks-block
						.forecast-single__blocks-block__body(style="background: url(/images/forecasts2.png) 50% 50% no-repeat; background-size: cover;")
							.forecast-single__blocks-block__body-desc
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 16.08.2018
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Dream League
							.forecast-single__blocks-block__body-titles
								.forecast-single__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span CS GO
								.forecast-single__blocks-block__body-titles-title PSG.LGD vs Team Secretv
								.forecast-single__blocks-block__body-titles-rate
									.forecast-single__blocks-block__body-titles-rate-container
										span К:
										span 2,40
						.forecast-single__blocks-block__footer
							.forecast-single__blocks-block__footer-photo
								img(src="/images/author.png")
							.forecast-single__blocks-block__footer-title Владимир Петров
							.forecast-single__blocks-block__footer-author Автор прогноза
							a(href="#").forecast-single__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
				.swiper-slide
					.forecast-single__blocks-block
						.forecast-single__blocks-block__body(style="background: url(/images/forecasts3.png) 50% 50% no-repeat; background-size: cover;")
							.forecast-single__blocks-block__body-desc
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-calendar-o
									span 14.08.2018
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-clock-o
									span 14:00
								.forecast-single__blocks-block__body-desc-item
									i.fa.fa-info-circle
									span Megafon
							.forecast-single__blocks-block__body-titles
								.forecast-single__blocks-block__body-titles-category
									i.fa.fa-gamepad
									span DOTA 2
								.forecast-single__blocks-block__body-titles-title MangoBay vs Liquid
								.forecast-single__blocks-block__body-titles-rate
									.forecast-single__blocks-block__body-titles-rate-container
										span К:
										span 1,40
						.forecast-single__blocks-block__footer
							.forecast-single__blocks-block__footer-photo
								img(src="/images/author.png")
							.forecast-single__blocks-block__footer-title Владимир Петров
							.forecast-single__blocks-block__footer-author Автор прогноза
							a(href="#").forecast-single__blocks-block__footer-button
								p Смотреть
								i.fa.fa-angle-right
	.separator
	.forecast-single__comments
		.forecast-single__comments-titles
			.forecast-single__comments-titles-title Комментарии
		form(action="#").forecast-single__comments-form
			input(type="text" name="comment" placeholder="Напишите свой комментарий к прогнозу").forecast-single__comments-form-input
			button(type="submit").forecast-single__comments-form-button Отправить
		.forecast-single__comments-commentlist
			.forecast-single__comments-commentlist-item
				.forecast-single__comments-commentlist-item-content
					.forecast-single__comments-commentlist-item-content-text Суждение, следовательно, индуктивно рассматривается мир, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
					.forecast-single__comments-commentlist-item-content-photo
						img(src="/images/author.png")
						.forecast-single__comments-commentlist-item-content-photo-title Дениска Убийца
				.forecast-single__comments-commentlist-item-info
					.forecast-single__comments-commentlist-item-info-date 13.08.2018, 14:36
					.forecast-single__comments-commentlist-item-info-likes
						.forecast-single__comments-commentlist-item-info-likes-dislike
							i.fa.fa-thumbs-down
							span 0
						.forecast-single__comments-commentlist-item-info-likes-like
							i.fa.fa-thumbs-up
							span 0
			.forecast-single__comments-commentlist-item
				.forecast-single__comments-commentlist-item-content
					.forecast-single__comments-commentlist-item-content-text Дуализм принимает во внимание бабувизм)))))
					.forecast-single__comments-commentlist-item-content-photo
						img(src="/images/expert.png")
						.forecast-single__comments-commentlist-item-content-photo-title Володя Терминатор
				.forecast-single__comments-commentlist-item-info
					.forecast-single__comments-commentlist-item-info-date 13.08.2018, 14:36
					.forecast-single__comments-commentlist-item-info-likes
						.forecast-single__comments-commentlist-item-info-likes-dislike
							i.fa.fa-thumbs-down
							span 0
						.forecast-single__comments-commentlist-item-info-likes-like
							i.fa.fa-thumbs-up
							span 0
