.show-select
	display block
.hide-select
	display none
.icon-right
	right 64px
#index .is-sidebar-on-index
	display flex
#bookmakers .is-sidebar-on-bookmakers
	display flex
#bookmakers-best .is-sidebar-on-bookmakers-best
	display flex
#bookmakers-public .is-sidebar-on-bookmakers-public
	display flex
#bookmakers-single .is-sidebar-on-bookmakers-single
	display flex
#forecasts .is-sidebar-on-forecasts
	display flex
#forecasts-tags .is-sidebar-on-forecasts-tags
	display flex
#experts .is-sidebar-on-experts
	display flex
#expert-detail .is-sidebar-on-expert-detail
	display flex
#forecast-single .is-sidebar-on-forecast-single
	display flex
#bonuses .is-sidebar-on-bonuses
	display flex
#search .is-sidebar-on-search
	display flex
#knowledgebase .is-sidebar-on-knowledgebase
	display flex
#knowledgesingle .is-sidebar-on-knowledgesingle
	display flex
