.registrationpopup-bg
	position fixed
	background-color rgba(0,0,0,.9)
	top 0
	left 0
	right 0
	bottom 0
	z-index -1
	cursor pointer
	display none
	&__active
		display block
		z-index 10010
.registrationpopup
	position fixed
	z-index -1
	display none
	width 500px
	top calc(50% - 235px)
	left calc(50% - 250px)
	&__active
		display block
		z-index 10011
	&__header
		background-color $headerbg
		border-radius 8px 8px 0 0
		&-container
			display flex
			padding 21px 40px
			justify-content space-between
			align-items center
			&-title
				font-family $Bold
				text-transform uppercase
				font-size 1.75rem
				line-height 37px
				color $white
			&-close
				cursor pointer
				i
					color $yellow
					font-size 28px
	&__body
		padding 30px 40px
		background-color $white
		border-radius 0 0 8px 8px
		&-form
			display flex
			justify-content center
			flex-direction column
			align-items center
			&-input
				width 100%
				display flex
				margin-bottom 15px
				input
					border 1px solid #E1E4E8
					padding 14px 25px
					border-radius 0 10px 10px 0
					font-size 0.75rem
					width 100%
					color #A6AEBC
				i
					width 53px
					display flex
					align-items center
					justify-content center
					border-radius 10px 0 0 10px
					font-size 18px
					border 1px solid #E1E4E8
					border-right none
					color #A6AEBC
			&-policy
				display flex
				justify-content center
				font-family $Regular
				color #A6AEBC
				font-size 0.75rem
				line-height 20px
				margin-bottom 30px
				align-items center
				div
					margin-left 5px
				p
					margin-left 5px
					align-items center
					display inline-flex
				a
					margin-left 5px
					color $purple
					border-bottom 1px solid $purple
					transition .3s
					&:hover
						color $black
						border-color $black
			&-button
				width 60%
				button
					border 2px solid transparent
					box-shadow 0px 4px 20px rgba(84, 53, 124, 0.3)
					border-radius 25px
					font-family $Bold
					cursor pointer
					padding 11px
					font-size 0.75rem
					width 100%
					text-transform uppercase
					color $white
					background $buttongradient
					text-align center
					transition .3s
					&:hover
						background $white
						color $purple
						border 2px solid $purple
@media(max-width: 768px)
	.registrationpopup
		&__header
			&-container
				padding 15px 20px
				&-title
					font-size 1.375rem
					line-height 29px
		&__body
			padding 30px 20px
@media(max-width: 650px)
	.registrationpopup
		width calc(100% - 40px)
		left 20px
		right 20px
		&__body
			&-form
				&-policy
					width 90%
					p
						margin-left 0px
