.bookmakers-single {
  margin-top: 25px;
}
.bookmakers-single__back {
  display: none;
  position: relative;
  padding: 12px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $yellow;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
}
.bookmakers-single__back:hover {
  background-color: $white;
}
.bookmakers-single__back i {
  color: $black;
  font-size: 18px;
}
.bookmakers-single__back span {
  color: $black;
  margin-left: 12px;
  font-family: $Bold;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 11px;
}
.bookmakers-single__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 20px;
}
.bookmakers-single__header-block {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 35px 50px;
}
.bookmakers-single__header-block:nth-child(1) {
  -webkit-flex-basis: -webkit-calc(65% - 20px);
      -ms-flex-preferred-size: calc(65% - 20px);
          flex-basis: calc(65% - 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 20px;
  min-height: 210px;
}
.bookmakers-single__header-block:nth-child(2) {
  background-color: $white;
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
  padding: 20px 25px;
  min-height: 210px;
}
.bookmakers-single__header-block-title {
  color: $text;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: $Bold;
  margin-bottom: 20px;
}
.bookmakers-single__header-block-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.bookmakers-single__header-block-li span {
  font-family: $SemiBold;
  color: $text;
  font-size: 0.75rem;
  line-height: 18px;
  margin-left: 10px;
}
.bookmakers-single__header-block-li i {
  font-size: 12px;
  color: $yellow;
}
.bookmakers-single__header-block-image {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.bookmakers-single__header-block-image img {
  width: 220px;
}
.bookmakers-single__header-block-link {
  width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bookmakers-single__header-block-link:nth-child(2) {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.bookmakers-single__header-block-link:nth-child(2):hover {
  background: $white;
  color: $purple;
  border: 2px solid $purple;
}
.bookmakers-single__header-block-link:nth-child(3) {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  color: $white;
  font-family: $Bold;
  font-size: 0.75rem;
  line-height: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bookmakers-single__header-block-link:hover {
  color: $purple;
}
.bookmakers-single__review {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.bookmakers-single__review-block {
  background-color: $white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}
.bookmakers-single__review-block:nth-child(1) {
  -webkit-flex-basis: -webkit-calc(75% - 20px);
      -ms-flex-preferred-size: calc(75% - 20px);
          flex-basis: calc(75% - 20px);
  max-width: -webkit-calc(75% - 20px);
  max-width: calc(75% - 20px);
  margin-right: 20px;
}
.bookmakers-single__review-block:nth-child(2) {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
  max-height: 402px;
}
.bookmakers-single__review-block-titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  border-bottom: 1px solid #f1f1f1;
}
.bookmakers-single__review-block-titles-title {
  color: $text;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: $Bold;
}
.bookmakers-single__review-block-text {
  padding: 25px;
  position: relative;
}
.bookmakers-single__review-block-text-active .bookmakers-single__review-block-text-content {
  max-height: 100%;
}
.bookmakers-single__review-block-text-active .bookmakers-single__review-block-text-shadow {
  display: none;
}
.bookmakers-single__review-block-text-active .bookmakers-single__review-block-text-button i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.bookmakers-single__review-block-text-title {
  line-height: 21px;
  font-size: 1rem;
  font-family: $SemiBold;
  color: $text;
  margin-bottom: 10px;
}
.bookmakers-single__review-block-text-content {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Regular;
  color: $text;
  margin-bottom: 20px;
  overflow: hidden;
  max-height: 75px;
}
.bookmakers-single__review-block-text-button {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  width: 220px;
  cursor: pointer;
  position: relative;
}
.bookmakers-single__review-block-text-button i {
  margin-left: 5px;
  font-size: 18px;
  position: absolute;
  top: 9px;
}
.bookmakers-single__review-block-text-button:after {
  content: 'Скрыть';
  display: none;
}
.bookmakers-single__review-block-text-button:hover {
  background: $white;
  color: $purple;
  border: 2px solid $purple;
}
.bookmakers-single__review-block-text-shadow {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(89.6%, #fff));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 89.6%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 89.6%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #fff 89.6%);
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  height: 134px;
}
.bookmakers-single__review-block-items {
  padding: 5px 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.bookmakers-single__review-block-items .swiper-container-bookmakers-single {
  width: 100%;
}
.bookmakers-single__review-block-items .swiper-pagination,
.bookmakers-single__review-block-items .swiper-button-prev,
.bookmakers-single__review-block-items .swiper-button-next {
  display: none;
}
.bookmakers-single__review-block-items .swiper-pagination {
  bottom: -40px;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bookmakers-single__review-block-items .swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
}
.bookmakers-single__review-block-items-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 25px;
  border-bottom: 1px solid #f1f1f1;
}
.bookmakers-single__review-block-items-item:last-child {
  border-bottom: none;
}
.bookmakers-single__review-block-items-item-text {
  margin-left: 20px;
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Regular;
}
.bookmakers-single__titles {
  background-color: $white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
}
.bookmakers-single__titles-title {
  font-family: $Bold;
  font-size: 1.125rem;
  color: $text;
  line-height: 24px;
}
.bookmakers-single__blocked__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-bottom: 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
          box-shadow: 0px 12px 18px rgba(90,62,126,0.05), 0px 0px 1px rgba(10,31,68,0.1);
}
.bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(1) {
  -webkit-border-radius: 15px 0 0 0;
          border-radius: 15px 0 0 0;
}
.bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(2) {
  -webkit-border-radius: 0 15px 0 0;
          border-radius: 0 15px 0 0;
}
.bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(3) {
  height: 100%;
  padding: 30px;
  border-top: 1px solid #f1f1f1;
}
.bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block-item__links-button-active:after {
  display: block;
}
.bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block-item__links-button-active .bookmakers-single__blocked__blocks-block-item__links-button-item span {
  display: none;
}
.bookmakers-single__blocked__blocks:last-child {
  margin-bottom: 20px;
}
.bookmakers-single__blocked__blocks-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bookmakers-single__blocked__blocks-block:nth-child(1) {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  -webkit-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
}
.bookmakers-single__blocked__blocks-block:nth-child(2) {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  padding: 30px;
  -webkit-border-radius: 0 15px 15px 0;
          border-radius: 0 15px 15px 0;
  background-color: $white;
}
.bookmakers-single__blocked__blocks-block:nth-child(3) {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 0;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
  background-color: $white;
  height: 0;
  overflow: hidden;
}
.bookmakers-single__blocked__blocks-block-text p {
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 18px;
  margin-bottom: 10px;
  color: $text;
}
.bookmakers-single__blocked__blocks-block-item:nth-child(1) {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
}
.bookmakers-single__blocked__blocks-block-item:nth-child(2) {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
.bookmakers-single__blocked__blocks-block-item__body-title {
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  line-height: 24px;
  font-family: $Bold;
  color: $text;
}
.bookmakers-single__blocked__blocks-block-item__body-title-desc {
  margin-left: 15px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-family: $Bold;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 15px;
  background-color: $yellow;
}
.bookmakers-single__blocked__blocks-block-item__body-text {
  color: #5a5a5a;
  font-family: $Regular;
  line-height: 18px;
  font-size: 0.75rem;
}
.bookmakers-single__blocked__blocks-block-item__links {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bookmakers-single__blocked__blocks-block-item__links-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bookmakers-single__blocked__blocks-block-item__links-button:nth-child(1) {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
}
.bookmakers-single__blocked__blocks-block-item__links-button:nth-child(1):hover {
  background: none;
  color: $purple;
  border: 2px solid $purple;
}
.bookmakers-single__blocked__blocks-block-item__links-button:nth-child(2) {
  border: 2px solid $purple;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $purple;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bookmakers-single__blocked__blocks-block-item__links-button:nth-child(2):hover {
  background: -webkit-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: -o-linear-gradient(291.11deg, #9537a5 25.2%, #7140b3 79.4%);
  background: linear-gradient(158.89deg, #9537a5 25.2%, #7140b3 79.4%);
  color: $white;
  border: 2px solid transparent;
}
.bookmakers-single__blocked__blocks-block-item__links-button-active:after {
  content: 'Скрыть';
  display: none;
}
.bookmakers-single__how {
  margin-bottom: 20px;
}
.bookmakers-single__how__titles {
  background-color: $white;
  -webkit-border-radius: 15px 15px 0 0;
          border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.bookmakers-single__how__titles-title {
  font-family: $Bold;
  font-size: 1.125rem;
  color: $text;
  line-height: 24px;
}
.bookmakers-single__how__blocks {
  background-color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
}
.bookmakers-single__how__blocks-block:nth-child(1) {
  padding: 20px 25px;
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
  border-right: 1px solid #f1f1f1;
}
.bookmakers-single__how__blocks-block:nth-child(2) {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
}
.bookmakers-single__how__blocks-block-list p {
  color: $purple;
  font-family: $Bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.bookmakers-single__how__blocks-block-list p span {
  display: inline-block;
  margin-left: 5px;
  color: $text;
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Regular;
}
.bookmakers-single__how__blocks-block-video {
  padding: 20px;
  height: 100%;
  text-align: center;
}
.bookmakers-single__how__blocks-block-video-image {
  position: relative;
  display: block;
}
.bookmakers-single__how__blocks-block-video-image img {
  -webkit-border-radius: 15px;
          border-radius: 15px;
}
.bookmakers-single__how__blocks-block-video-image img:nth-child(2) {
  position: absolute;
  top: -webkit-calc(50% - 24.5px);
  top: calc(50% - 24.5px);
  left: -webkit-calc(50% - 24.5px);
  left: calc(50% - 24.5px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.bookmakers-single__how__blocks-block-video-image:hover img:nth-child(2) {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.bookmakers-single__how__blocks-block-video-link {
  border-bottom: 1px dashed rgba(84,53,124,0.2);
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 14px;
  padding-bottom: 2px;
  margin-top: 15px;
  color: $text;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bookmakers-single__how__blocks-block-video-link:hover {
  color: $purple;
  border-color: $purple;
}
.bookmakers-single__clients__titles {
  background-color: $white;
  -webkit-border-radius: 15px 15px 0 0;
          border-radius: 15px 15px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 25px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.bookmakers-single__clients__titles-title {
  font-family: $Bold;
  font-size: 1.125rem;
  color: $text;
  line-height: 24px;
}
.bookmakers-single__clients__titles-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bookmakers-single__clients__titles-buttons-button {
  cursor: pointer;
}
.bookmakers-single__clients__titles-buttons-button:nth-child(1) {
  background: $white;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px 21px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $purple;
  display: inline-block;
  width: 220px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid $purple;
}
.bookmakers-single__clients__titles-buttons-button:nth-child(1):hover {
  background: $buttongradient;
  color: $white;
  border: 2px solid $transparent;
}
.bookmakers-single__clients__titles-buttons-button:nth-child(2) {
  text-align: center;
  margin-left: 20px;
  background: $buttongradient;
  -webkit-box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
          box-shadow: 0px 4px 20px rgba(84,53,124,0.3);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-family: $Bold;
  padding: 11px 21px;
  width: 220px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid transparent;
}
.bookmakers-single__clients__titles-buttons-button:nth-child(2):hover {
  background: $white;
  color: $purple;
  border: 2px solid $purple;
}
.bookmakers-single__clients__slider {
  position: relative;
}
.bookmakers-single__clients__slider-container {
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
  overflow: hidden;
  background-color: $white;
}
.bookmakers-single__clients__slider-container-slide {
  border-right: 1px solid #f1f1f1;
}
.bookmakers-single__clients__slider-container-slide-header {
  padding: 20px 25px;
  background-color: $white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bookmakers-single__clients__slider-container-slide-header-image img {
  max-height: 32px;
  max-width: 32px;
}
.bookmakers-single__clients__slider-container-slide-header-titles {
  margin-left: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bookmakers-single__clients__slider-container-slide-header-titles-title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  color: $text;
  font-size: 0.875rem;
  line-height: 17px;
  font-family: $SemiBold;
  margin-bottom: 5px;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate span:nth-child(1) {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Bold;
  color: $text;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate span:nth-child(2) {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Regular;
  color: $text;
  margin: 0 2px;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate span:nth-child(3) {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: $Regular;
  color: $text;
  margin-right: 10px;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate-star {
  margin: 0 2px;
}
.bookmakers-single__clients__slider-container-slide-header-titles-rate-star i {
  color: $yellow;
}
.bookmakers-single__clients__slider-container-slide-body {
  background-color: $white;
  padding: 0px 25px 20px;
}
.bookmakers-single__clients__slider-container-slide-body-text {
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 18px;
  color: $text;
  margin-bottom: 10px;
}
.bookmakers-single__clients__slider-container-slide-body-link {
  font-family: $Regular;
  font-size: 0.75rem;
  line-height: 18px;
  color: $purple;
  padding-bottom: 2px;
  border-bottom: 1px dashed rgba(84,53,124,0.2);
}
.bookmakers-single__clients__slider-container-slide-footer {
  background: #f8f8f8;
  padding: 15px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bookmakers-single__clients__slider-container-slide-footer-date {
  font-family: $Regular;
  font-size: 0.75rem;
  color: $sidebarlink;
  line-height: 19px;
}
.bookmakers-single__clients__slider-container-slide-footer-likes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bookmakers-single__clients__slider-container-slide-footer-likes-dislike span {
  font-family: $Regular;
  font-size: 0.75rem;
  color: $sidebarlink;
  margin-left: 5px;
  line-height: 19px;
}
.bookmakers-single__clients__slider-container-slide-footer-likes-dislike i {
  color: #fa4e4e;
}
.bookmakers-single__clients__slider-container-slide-footer-likes-like {
  margin-left: 15px;
}
.bookmakers-single__clients__slider-container-slide-footer-likes-like span {
  font-family: $Regular;
  font-size: 0.75rem;
  color: $sidebarlink;
  margin-left: 5px;
  line-height: 19px;
}
.bookmakers-single__clients__slider-container-slide-footer-likes-like i {
  color: #22c993;
}
.bookmakers-single__clients__slider .swiper-pagination {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
.bookmakers-single__clients__slider .swiper-pagination .swiper-pagination-bullet {
  margin: 0 4px;
}
.bookmakers-single__review-block-text-button.more-switch:after {
  display: block;
}
@media (max-width: 1240px) {
  .bookmakers-single__clients__slider {
    padding-bottom: 40px;
  }
  .bookmakers-single__clients__slider .swiper-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bookmakers-single__how__blocks {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bookmakers-single__how__blocks-block:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__how__blocks-block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__blocked__blocks-block:nth-child(1) {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
  }
  .bookmakers-single__blocked__blocks-block:nth-child(2) {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
  .bookmakers-single__blocked__blocks-block-item:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__blocked__blocks-block-item:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__blocked__blocks-block-item__links {
    margin-top: 25px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bookmakers-single__blocked__blocks-block-item__links-button {
    -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
  }
  .bookmakers-single__blocked__blocks-block-item__links-button:nth-child(1) {
    margin-bottom: 0;
  }
  .bookmakers-single__header-block:nth-child(1) {
    min-height: 300px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .bookmakers-single__header-block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    min-height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bookmakers-single__header-block-title {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__header-block-li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .bookmakers-single__review {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .bookmakers-single__review-block:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .bookmakers-single__review-block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bookmakers-single__review-block-titles {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__review-block-items {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bookmakers-single__review-block-items flex-wrap,
  .bookmakers-single__review-block-items-item {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    border-bottom: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bookmakers-single__review-block-items .swiper-pagination,
  .bookmakers-single__review-block-items .swiper-button-prev,
  .bookmakers-single__review-block-items .swiper-button-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991px) {
  .bookmakers-single__back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .bookmakers-single__blocked__blocks-block-item__body-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bookmakers-single__blocked__blocks-block-item__body-title span {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .bookmakers-single__blocked__blocks-block-item__body-title-desc {
    margin-bottom: 15px;
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 768px) {
  .bookmakers-single__header-block {
    padding: 35px 0;
  }
  .bookmakers-single__header-block:nth-child(1) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 360px;
  }
  .bookmakers-single__header-block-image {
    text-align: center;
  }
  .bookmakers-single__header-block-li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__blocked__blocks-block:nth-child(1) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
    min-height: 100px;
  }
  .bookmakers-single__blocked__blocks-block:nth-child(2) {
    -webkit-border-radius: 0 0 15px 15px;
            border-radius: 0 0 15px 15px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(1) {
    -webkit-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
  }
  .bookmakers-single__blocked__blocks-active .bookmakers-single__blocked__blocks-block:nth-child(2) {
    -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
  }
  .bookmakers-single__clients__titles-title {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 15px;
  }
  .bookmakers-single__clients__titles-buttons {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .bookmakers-single__clients__titles-buttons-button:nth-child(1) {
    width: 48%;
  }
  .bookmakers-single__clients__titles-buttons-button:nth-child(2) {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .bookmakers-single__clients__titles-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bookmakers-single__clients__titles-buttons-button:nth-child(1) {
    width: 100%;
    margin-bottom: 20px;
  }
  .bookmakers-single__clients__titles-buttons-button:nth-child(2) {
    margin-left: 0;
    width: 100%;
  }
  .bookmakers-single__how__blocks-block-video-image img:nth-child(1) {
    width: 100%;
  }
}
